nav {
  height: 50px;
  background-color: cyan;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#image-container {
  height: 40px;
  width: 40px;
  background-image: url("https://cdn2.iconfinder.com/data/icons/gaming-color-icons/104/22-gaming-pokemon-pokeball-512.png");
  background-size: cover;
  background-position: center;
  margin-left: 5px;
}

#button-container {
  display: flex;
  align-content: center;
  margin-right: 20px;
}

.button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 80px;
  text-align: center;
  background-color: white;
  padding: 10px 0px;
  color: rebeccapurple;
  border-left: rebeccapurple 1px solid;
  border-right: 1px rebeccapurple solid;
  transition: 0.667s;
}

.button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  background-color: rebeccapurple;
  color: white;
}

#stuff {
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  #button-container {
    display: none;
  }
  nav {
    background-color: cornflowerblue;
  }
  body {
    background-color: deeppink;
  }
}

@media (min-width: 600px) and (max-width: 990px) {
  #button-container {
    display: none;
  }
  nav {
    background-color: ghostwhite;
  }
  body {
    background-color: indianred;
  }
}

@media (min-width: 990px) {
  #hamburger-icon {
    display: none;
  }
  nav {
    background-color: chartreuse;
  }

  body {
    background-color: burlywood;
  }
}
